@media screen and (min-width: 620px) and (max-width: 800px) {
    .section-img {
        box-shadow: 0px 7px 40px 4px rgba(0, 0, 0, 0.267);
    }

    .section-img .img {
        opacity: 1;
    }

    main {
        width: min(90%, 800px);
    }
}

@media screen and (min-width: 800px) and (max-width: 992px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white;
        height: 50px;
        position: relative;
    }

    header .logo {
        position: absolute;
        left: 0;
        padding-left: 20px;
    }

    .controlador {
        max-width: 800px;
    }

    .text {
        padding: 20px 0px;
    }

    header .menu-largo {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    header .menu #menu-icon {
        display: none;
    }

    header .menu-largo {
        display: inline;

    }

    .nav-larga ul li {
        display: inline;
        height: 100%;
        margin-left: 10px;
    }

    .normal:hover {
        color: var(--text-color);
        cursor: pointer;
    }

    .especial {
        background-color: var(--text-color);
        padding: 3px 10px;
        border-radius: 5px;
        transition: transform .4s ease-in; /* Adicione esta linha */
    }
    .especial a {
        text-decoration: none;
        color: black;
    }

    .especial:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .especial:active {
        transform: scale(0.8);
    }

    .section-img .img {
        opacity: 1;
    }
}

@media screen and (min-width: 992px) {
    header .menu-largo {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    header .menu #menu-icon {
        display: none;
    }

    header .menu-largo {
        display: inline;

    }

    .nav-larga ul li {
        display: inline;
        height: 100%;
        margin-left: 10px;
    }

    .normal:hover {
        color: var(--text-color);
        cursor: pointer;
    }

    .especial {
        background-color: var(--text-color);
        padding: 3px 10px;
        border-radius: 5px;
        transition: transform .4s ease-in; /* Adicione esta linha */
    }
    .especial a {
        text-decoration: none;
        color: black;
    }

    .especial:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .especial:active {
        transform: scale(0.8);
    }

    .section-img .img {
        opacity: 1;
    }
    .controlador {
        max-width: 800px;
    }
    
    .text {
        padding: 20px 0px;
    }

    .section-img .img {
        background-image: url(../assets/images/);
    }
}