@media screen and (min-width: 620px) and (max-width: 820px) {
    header .menu .container-menu nav {
        width: 300px;
    }

    .controlador {
        max-width: 800px;
    }

    .section-img {
        background-image: linear-gradient(45deg, var(--primary-color) 0%, var(--primary-color) 60%, var(--text-color) 100%);
        box-shadow: 0px 7px 40px 4px rgba(0, 0, 0, 0.267);
    }

    .section-img .img {
        opacity: 1;
    }
}

@media screen and (min-width: 820px) and (max-width: 992px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: white;
        height: 70px;
        position: relative;
    }

    header .logo {
        position: absolute;
        left: 0;
        padding-left: 20px;
    }

    .controlador {
        max-width: 800px;
    }

    header .menu-largo {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    header .menu #menu-icon {
        display: none;
    }

    header .menu-largo {
        display: inline-block;

    }

    .section-img {
        background-image: linear-gradient(45deg, var(--primary-color) 0%, var(--primary-color) 60%, var(--text-color) 100%);
        box-shadow: 0px 7px 40px 4px rgba(0, 0, 0, 0.267);
    }

    .section-img .img {
        background-image: url(../assets/images/students.png);
        background-size: contain;
        background-position: right bottom;
    }

    .nav-larga a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
    }

    .normal:hover {
        padding-bottom: 21px;
        color: var(--text-color);
        border-bottom: 2px solid var(--text-color);
        cursor: pointer;
    }

    .especial {
        display: inline-block;
        background-color: var(--text-color);
        padding: 8px 20px;
        border-radius: 5px;
        transition: transform .2s linear;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.267);
    }

    .especial:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .especial:active {
        transform: scale(0.8);
    }

    .section-img .img {
        opacity: 1;
    }
}

@media screen and (min-width: 992px) {
    header .menu-largo {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    header .menu #menu-icon {
        display: none;
    }

    header .menu-largo {
        display: inline;

    }

    .nav-larga a {
        text-decoration: none;
        color: black;
        margin-left: 20px;
    }

    .normal:hover {
        padding-bottom: 21px;
        color: var(--text-color);
        border-bottom: 2px solid var(--text-color);
        cursor: pointer;
    }

    .especial {
        display: inline-block;
        background-color: var(--text-color);
        padding: 8px 20px;
        border-radius: 5px;
        transition: transform .2s linear;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.267);
    }

    .especial:hover {
        opacity: 0.8;
        transform: scale(1.02);
    }

    .especial:active {
        transform: scale(0.8);
    }

    .section-img {
        background-image: linear-gradient(45deg, var(--primary-color) 0%, var(--primary-color) 60%, var(--text-color) 100%);
        box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.267);
    }

    .section-img .img {
        background-image: url(../assets/images/pngstudents.png);
        background-size: contain;
        background-position: right bottom;
    }

    .section-img .img {
        opacity: 1;
    }
    .controlador {
        max-width: 800px;
    }
    
    .text {
        padding: 20px 0px;
    }
}