@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #219EBC;
    --secondary-color: #FB8500;
    --accent-color: #023047;
    --background-color: #80CED8;
    --text-color: #FFB703;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    height: 50px;
    position: relative;
}

header .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .menu {
    margin-left: auto;
}

header .container-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
    justify-content: flex-start; 
}

header .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
}

header .menu-header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

header .menu-header span {
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

header .menu ul li {
    list-style: none;
}

header .menu nav {
    height: 100%;
    width: 220px;
    background-color: white;
}

header .menu nav a {
    display: block;
    font-size: 17px;
    color: black;
    width: 100%;
    padding: 10px;
    
}

header .menu ul li a {
    display: block;
    text-decoration: none;
    color: black;
}

header .menu nav a:hover {
    background-color: #0230476a;
    transition: background-color .4s linear;
    cursor: pointer;
    text-decoration: underline;
}

header .menu span {
    padding: 3px;
}

header .menu span:hover {
    background-color: #02304760;
    border-radius: 5px;
    cursor: pointer;
}

header .menu span:active {
    transform: scaleX(0.6);
}

.section-img {
    height: 250px;
    width: 100%;
    background-color: #80CED8;
}

.controlador {
    position: relative;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.section-img .img {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;    
    height: 100%;
    max-width: 300px;
    background: transparent url(../assets/images/main-sem-fundo.png) top right no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: 8;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 500px;

    padding: 20px;
    z-index: 9;
}

.text > h2 {
    color: var(--secondary-color);
    margin: 20px 0 0 0;
}

.text > p {
    font: normal 400 16px 'Poppins', sans-serif;
    color: black;
}

.text > .btn {
    display: inline-block;
    background-image: linear-gradient(45deg, 
    var(--accent-color) 0%, 
    var(--accent-color) 60%, 
    var(--text-color) 100%);

    color: white;
    margin-top: 20px;
    padding: 8px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.text > .btn:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.436);
    transition: scale .4s ease-in;
    transition: box-shadow .3s ease;
}

.text > .btn:active {
    transform: scale(0.9);
    transition: scale .4s ease-in;
}